@model asp.net_mvc_studentManagement.ViewModel.StudentViewModel
@{
    ViewBag.Title = "NewStudent";
    Layout = "~/Views/Shared/_Layout.cshtml";
}

<h2>NewStudent</h2>

@using (@Html.BeginForm("Create", "Students"))
{
    //@Html.LabelFor(m => m.Course.)
}