@model asp.net_mvc_studentManagement.ViewModel.CoursesViewModel
@{
    ViewBag.Title = "Courses";
}

<h2>Courses</h2>

<table id="courses" class="table table-bordered table-hover table-responsive " >
    <thead>
        <tr>
            <th>Id</th>
            <th>Course</th>
            <th>Description</th>
            <th class="col-sm-1">Details</th>
            <th class="col-sm-1">Delete</th>

        </tr>
    </thead>
    <tbody></tbody>


</table>

@section scripts
    {
<script>

    $(document).ready(function(){

        var table = $("#courses").DataTable({

            ajax: {
                url: "/api/Courses",
                dataSrc: ""
            },

            columns: [
                {
                    data: "id"
                    
                },
                {
                    data: "name",
                    render: function (data, type, course) {
                        return "<a href = '/Courses/Course/" + course.id + "'>" + course.name +"</a>";
                    }
                },

                {
                    data: "description"
                },
                {
                    data: "id",
                    render: function (data) {
                        return "<a class='btn btn-primary' href = '/Courses/Course/" + data +"'>Details </a>";
                    }

                },
                {
                    data: "id",
                    render: function (data) {
                        return "<button  class = 'btn btn-danger js-delete' data-courses-id =" + data +">Delete </button>";
                    }

                }


               
            ]

            
        });

        $("#courses").on("click", ".js-delete", function () {
            var button = $(this);
            
            bootbox.confirm("Are you sure you want to delete this record?", function (result) {
                if (result) {
                    $.ajax({
                        url: "/api/courses/" + button.attr("data-courses-id"),
                        method: "DELETE",
                        success: function () {
                            table.row(button.parents("tr")).remove().draw();
                        }
                    });
                }
            });
        });
    });
    </script>
    }